/*自定义字体*/
@font-face {
    font-family: Smiley Sans;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/SmileySans-Oblique.woff2') format('woff2'),
    url('../fonts/SmileySans-Oblique.woff') format('woff');
}

* {
    font-family: Smiley Sans, sans-serif;
}

/*自定义鼠标指针*/
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}

/*自定义加载进度条*/
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 6rem;
    background: #eaecf2;
    overflow: hidden;
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
}

.pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #49b1f5;
    background: linear-gradient(
            to right,
            #bbbbbb,
            #2a3a4a,
    );
    animation: gradient 2s ease infinite;
    background-size: 200%;
}

* {
    box-sizing: border-box
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    color: #333;
    font-size: 18px
}


a {
    background: 0 0;
    color: #000
}

a:active, a:hover {
    color: #cb3737;
    outline: 0;
    text-decoration: none
}

a:link {
    text-decoration: none
}

abbr[title] {
    border-bottom: 1px dotted
}

p {
    margin: 0 0 10px
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    max-width: 100%;
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea:focus, input:focus {
    box-shadow: none;
    outline: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0
}

.menu {
    margin: 20px;
}

.wrapper {
    position: relative
}

.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    display: block;
    background-position: 50% 0;
    background-color: #000
}

.right {
    float: right
}

@media (max-width: 768px) {
    .left {
        display: none
    }

    .right {
        width: 100%
    }
}

.right_box {
    padding: 80px 50px
}

.right_foot {
    background: #f5f5f5;
    padding: 20px 50px;
    font-size: 12px;
    color: #555;
    display: table;
    width: 100%
}

.right_foot a {
    color: #555
}

.right_f_l {
    width: 70%;
    float: left
}

.right_f_l p {
    margin: 0;
    color: #555
}

.right_f_l p span {
    margin-right: 5px
}

.right_f_r {
    width: 30%;
    float: right;
    text-align: right
}

@media (max-width: 768px) {
    .right_f_l {
        width: 100%;
        float: none;
        text-align: center
    }

    .right_f_r {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 5px
    }
}

.index_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.index_txt {
    text-align: center;
    font-weight: 300
}

.index_txt img {
    border-radius: 50%;
    width: 140px;
    height: 140px
}

.index_txt h1 {
    font-size: 35px;
    margin: 20px 0
}

.index_txt p {
    font-size: 20px;
    font-weight: inherit;
    line-height: 30px;
    width: 70%;
    margin: 20px auto
}

.index_txt .location {
    color: #3c3c3c;
    line-height: 1.8;
    font-size: 18px;
    align-items: center;
    display: inline-block;
}

.index_txt .location i {
    margin-right: 6px;
    vertical-align: middle;
    background-image: url(../icons/map.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -8px
}

.index_txt .time{
    line-height: 1.8;
    font-size: 18px;
    display: inline-block;
}

.index_txt .time i{
    margin-right: 90px;
    vertical-align: middle;
    background-image: url(../icons/time.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -8px;
}

.index_txt .time span{
    position: absolute;
    margin-left: -51px;
    font-size: 18px;
    line-height: 32px;
}

@media (max-width: 768px) {
    .index_txt p {
        width: 100%
    }

    .index_txt {
        width: 90%
    }
}

.index_nav {
    margin-top: 20px
}

.index_nav li {
    display: inline-block;
    margin: 6px
}

.index_nav li a {
}

.inline-element{
    font-size: 16px;
    font-family: suranna, Arial, serif
}

.inline-elementhr {
    height: 20px;
    border: none;
    position: relative;
    padding: 0;
    margin: 10px 0 25px
}

.inline-elementhr:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    position: absolute;
    top: 10px;
    z-index: 1
}

.inline-elementhr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ababab;
    left: 50%;
    top: 50%;
    transform: rotate(45deg);
    z-index: 2;
    margin-top: -4px;
    margin-left: -4px
}

.inline-element.post-image {
    padding-bottom: 20px
}

.p {
    line-height: 2;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: 0
}

.inline-elementh1, .inline-elementh2, .inline-elementh3, .inline-elementh4, .inline-elementh5, .inline-elementh6 {
    margin-bottom: 25px;
    margin-top: 0;
    line-height: 30px
}

.inline-elementh1 {
    font-size: 22px
}

.inline-elementh2 {
    font-size: 20px
}

.inline-elementh3 {
    font-size: 18px
}

.inline-elementh4 {
    font-size: 16px
}

.inline-elementh5 {
    font-size: 14px
}

.inline-elementh6 {
    font-size: 14px
}

.inline-elementol, .inline-elementul {
    margin-bottom: 20px;
    list-style: disc;
    margin-left: 16px
}

.inline-elementol li, .inline-elementul li {
    margin-left: 10px;
    margin-bottom: 8px;
    line-height: 2
}

.inline-elementol li a, .inline-elementul li a {
    border-bottom: 1px solid #3ca5f6;
    color: #3ca5f6
}

.inline-elementtable {
    width: 100%;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    line-height: 40px;
    border-collapse: collapse;
    margin-bottom: 20px
}

.inline-elementtable tr:nth-child(odd) {
    background: #f1f1f1
}

.inline-elementtable tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    line-height: 40px;
    text-align: center
}

.inline-elementtable strong {
    border-bottom: none
}

.inline-elementtable div {
    padding-bottom: 0
}

.inline-elementp img {
    max-width: 100%;
    height: auto
}

.inline-elementblockquote {
    margin: 20px 0;
    position: relative;
    border-left: none;
    border-radius: 3px;
    font-size: inherit;
    padding: 25px 25px 0;
    background-color: #f5f5f5
}

.inline-elementblockquote:before {
    content: '"';
    position: absolute;
    color: #000;
    top: 0;
    left: 10px;
    font-size: 40px
}

.inline-elementblockquote:after {
    content: '"';
    position: absolute;
    right: 10px;
    bottom: -20px;
    color: #000;
    font-size: 40px
}

.inline-elementblockquote p {
}

.inline-element.align_center {
    clear: both;
    display: block;
    margin: 0 auto
}

.inline-element.align_right {
    float: right;
    margin: 25px 0 10px 20px
}

.inline-element.align_left {
    float: left;
    margin: 25px 20px 10px 0
}

.inline-element.wp-caption {
    max-width: 100%
}

.inline-element.wp-caption p.wp-caption-text {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-size: 12px;
    color: #888;
    font-weight: 300
}

.inline-elementp a {
    border-bottom: 1px solid #3ca5f6;
    color: #3ca5f6;
    margin: 0 4px
}

.inline-elementstrong {
    font-weight: 700
}

.inline-element.crayon-table tr:nth-child(odd) {
    background: 0 0
}

.inline-elementpre {
    margin: 0 0 30px;
}

.inline-elementpre .hljs {
    font-size: 13px;
    line-height: 1.8;
    padding: 0
}

.inline-elementpre .hljs table {
    border: none;
    line-height: 1.8;
    margin: 0
}

.inline-elementpre .hljs table tr {
    border-bottom: 1px solid #272727
}

.inline-elementpre .hljs table tr:nth-child(odd) {
    background: 0 0
}

.inline-elementpre .hljs table tr td.hljs-ln-numbers {
    text-align: right
}

.inline-elementpre .hljs table tr td.hljs-ln-numbers .hljs-ln-n {
}

.inline-elementpre .hljs table tr td.hljs-ln-numbers .hljs-ln-n:before {
    position: relative;
    right: 5px;
    color: #4c4c4c;
    font-weight: 300
}

.inline-elementpre .hljs table tr td.hljs-ln-code {
    padding-left: 15px;
    border-left: 1px solid #4c4c4c
}

.inline-elementpre .hljs table tr td {
    border: none;
    text-align: inherit;
    line-height: inherit
}

.single_info_box {
    margin-top: 30px;
    margin-bottom: 60px
}

.single_title {
    font-family: suranna, Arial, serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.4;
    margin-top: 0
}

.single_info {
    font-weight: 300;
    color: #898989;
    font-size: 12px
}

.cat_info {
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px
}

.single_info span {
    margin-right: 20px
}

.single_info span i {
    vertical-align: middle;
    background-size: 100%;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px
}

.single_info span i.ico_cat {
    background-image: url(../icons/cat.svg);
    width: 18px;
    height: 12px
}

.single_info span i.ico_view {
    background-image: url(../icons/view.svg);
    width: 12px;
    height: 12px
}

.single_info span a {
    color: #898989
}

.single_info p {
    font-size: 14px;
    line-height: 2
}

.single_tag {
    margin: 20px 0;
    border: 1px solid #ececec;
    border-left: none;
    border-right: none;
    padding: 20px 0;
    display: table;
    width: 100%
}

.single_tag span {
    color: #6dcdfb;
    margin-right: 3px
}

.single_tag a {
    margin-right: 20px
}

.next_prev_posts {
    display: table;
    width: 100%
}

.prev_next_box {
    width: 50%;
    float: left;
    position: relative;
    display: table;
    margin-top: 50px
}

.prev_next_box a {
    display: block;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.prev_next_box a:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .46);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}

.prev_next_info {
    z-index: 1;
    position: relative
}

.prev_next_info small {
}

.prev_next_info p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    height: 46px;
    overflow: hidden;
    line-height: 1.6
}

.nav_next .prev_next_info {
    text-align: right
}

@media (max-width: 768px) {
    .prev_next_box a {
        padding: 30px 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center
    }

    .prev_next_info p {
        font-size: 12px;
        height: 38px
    }
}

.single_loop {
    display: table;
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 35px
}

.single_loop_pic {
    width: 25%;
    float: left;
    margin-right: 5%;
    font-size: 0
}

.single_loop_pic img {
}

.single_loop_info {
    float: left;
    width: 70%
}

.single_loop_info h2 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1.6
}

.single_loop_info .single_info {
    margin-bottom: 10px
}

.single_loop_info .single_loop_txt {
    line-height: 1.8;
    color: #888;
    font-weight: 300;
    margin: 0;
    font-size: 13px
}

.single_big .single_loop_info .single_loop_txt {
}

.single_big .single_loop_pic {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    float: none;
    display: block
}

.single_big .single_loop_info {
    width: 100%;
    float: none
}

.single_chat {
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: none;
    position: relative;
    margin-left: 40px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 40px
}

.single_chat .single_loop_info {
    padding-left: 40px;
    width: 100%
}

.single_chat .single_loop_info .avatar {
    position: absolute;
    left: -40px;
    width: 80px;
    border-radius: 50%;
    transition: all 500ms
}

.single_chat:hover .single_loop_info .avatar {
    transform: rotate(350deg)
}

.single_chat .single_loop_info h2 {
    font-size: 18px
}

.single_loop_more {
    display: none
}

.post-read-more {
    text-align: center
}

.post-read-more a {
    width: 120px;
    display: inline-block;
    border: 2px solid #ccc;
    text-align: center;
    height: 34px;
    line-height: 30px;
    color: #969696;
    font-size: 12px;
    font-weight: 300
}

.post-read-more a.loading {
    border: 2px solid #000;
    color: #fff;
    background: #000
}

.nav_ico {
    position: fixed;
    right: 30px;
    top: 40px;
    z-index: 999
}

.nav_ico svg {
    width: 60px
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hamRotate.active {
    transform: rotate(45deg)
}

.hamRotate180.active {
    transform: rotate(180deg)
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round
}

.ham1 .top {
    stroke-dasharray: 40 139
}

.ham1 .bottom {
    stroke-dasharray: 40 180
}

.ham1.active .top {
    stroke-dashoffset: -98px
}

.ham1.active .bottom {
    stroke-dashoffset: -138px
}

.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    display: none;
    background-color: #fff;
    z-index: 100
}

@media (max-width: 768px) {
    .right_box {
        padding: 50px 18px 20px
    }

    .single_loop_info h2 {
        font-size: 16px
    }

    .single_chat {
        margin-left: 25px
    }

    .single_chat .single_loop_info .avatar {
        width: 50px;
        left: -25px
    }

    .single_chat .single_loop_info .single_info {
        display: none
    }

    .single_loop_info .single_loop_txt {
        font-size: 12px
    }

    .single_chat .single_loop_info {
        padding-left: 15px
    }

    .single_chat .single_loop_info h2 {
        display: none
    }

    .single_loop_more {
        display: inline-block;
        margin-left: 10px;
        color: #2283ff
    }

    .single_def .single_loop_info .single_loop_txt {
        display: none
    }

    .single_def .single_info_2, .single_def .single_info_3 {
        display: none
    }

    .single_def .single_loop_info h2 {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 5px
    }

    .single_big .single_loop_info .single_loop_txt {
        height: 60px;
        overflow: hidden
    }

    .single_loop {
        margin-bottom: 20px;
        padding-bottom: 18px
    }

    .single_info p {
        font-size: 13px;
        line-height: 1.8
    }

    .single_def .single_loop_info .single_info {
        margin-bottom: 0
    }

    .single_title {
        font-size: 28px
    }

    .single_def .single_info span svg {
        margin-top: -2px
    }

    .nav_ico {
        right: 0;
        top: 15px
    }

    .nav_ico svg {
        width: 50px
    }

    .right_foot {
        padding: 20px 10px
    }
}

.boom_body {
    overflow-x: hidden;
    overflow-y: hidden
}
