.font {
	font-size: 12px;
	text-decoration: none;
	line-height: 17px;
}
BODY {
	scrollbar-face-color:#6E98F1;
	scrollbar-highlight-color:#6E98F1;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#6E98F1;
	scrollbar-shadow-color:#6E98F1;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#7CA2F3;
}.table {
	background-color: #FFFFFF;
	border: 1px solid #7DA2F3;
}
.td {
	background-color: #e4edf9;
	padding: 1px;
	font-size: 12px;
	text-decoration: none;

}
.input {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #000000;

}
input {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.put {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	height: 17px;

}
.button {
	BORDER-RIGHT: #333333 1px ridge;
	BORDER-TOP: #ffffff 1px ridge;
	FONT-SIZE: 9pt;
	BORDER-LEFT: #ffffff 1px ridge;
	COLOR: #000000;
	BORDER-BOTTOM: #000000 1px ridge;
	FONT-FAMILY: "ו";
	HEIGHT: 19px;
	BACKGROUND-COLOR: #f1f1f1;
	cursor: hand;
	padding: 1px;

	}
