.particle {
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1024;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        transform: translate3d(57vw, 59vh, 12px);
    }
}

@keyframes particle-animation-1 {
    100% {
        transform: translate3d(57vw, 59vh, 12px);
    }
}

.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.95;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(20vw, 25vh, 73px);
    background: #26a3d9;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        transform: translate3d(53vw, 21vh, 38px);
    }
}

@keyframes particle-animation-2 {
    100% {
        transform: translate3d(53vw, 21vh, 38px);
    }
}

.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.7;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(61vw, 42vh, 50px);
    background: #88d926;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        transform: translate3d(41vw, 84vh, 17px);
    }
}

@keyframes particle-animation-3 {
    100% {
        transform: translate3d(41vw, 84vh, 17px);
    }
}

.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.84;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(31vw, 59vh, 78px);
    background: #26d9d3;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        transform: translate3d(65vw, 76vh, 14px);
    }
}

@keyframes particle-animation-4 {
    100% {
        transform: translate3d(65vw, 76vh, 14px);
    }
}

.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.28;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(33vw, 12vh, 93px);
    background: #d99d26;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        transform: translate3d(15vw, 9vh, 93px);
    }
}

@keyframes particle-animation-5 {
    100% {
        transform: translate3d(15vw, 9vh, 93px);
    }
}

.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.42;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(2vw, 47vh, 39px);
    background: #26c7d9;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        transform: translate3d(22vw, 46vh, 16px);
    }
}

@keyframes particle-animation-6 {
    100% {
        transform: translate3d(22vw, 46vh, 16px);
    }
}

.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.95;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(36vw, 43vh, 2px);
    background: #d92677;
}

@-webkit-keyframes particle-animation-7 {
    100% {
        transform: translate3d(24vw, 77vh, 84px);
    }
}

@keyframes particle-animation-7 {
    100% {
        transform: translate3d(24vw, 77vh, 84px);
    }
}

.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 0.08;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(55vw, 7vh, 53px);
    background: #a6d926;
}

@-webkit-keyframes particle-animation-8 {
    100% {
        transform: translate3d(42vw, 3vh, 94px);
    }
}

@keyframes particle-animation-8 {
    100% {
        transform: translate3d(42vw, 3vh, 94px);
    }
}

.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.72;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(45vw, 53vh, 13px);
    background: #2674d9;
}

@-webkit-keyframes particle-animation-9 {
    100% {
        transform: translate3d(25vw, 59vh, 77px);
    }
}

@keyframes particle-animation-9 {
    100% {
        transform: translate3d(25vw, 59vh, 77px);
    }
}

.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.71;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(2vw, 3vh, 53px);
    background: #b526d9;
}

@-webkit-keyframes particle-animation-10 {
    100% {
        transform: translate3d(59vw, 90vh, 87px);
    }
}

@keyframes particle-animation-10 {
    100% {
        transform: translate3d(59vw, 90vh, 87px);
    }
}

.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(61vw, 13vh, 44px);
    background: #26d959;
}

@-webkit-keyframes particle-animation-11 {
    100% {
        transform: translate3d(77vw, 5vh, 53px);
    }
}

@keyframes particle-animation-11 {
    100% {
        transform: translate3d(77vw, 5vh, 53px);
    }
}

.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.99;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(68vw, 50vh, 50px);
    background: #6826d9;
}

@-webkit-keyframes particle-animation-12 {
    100% {
        transform: translate3d(35vw, 64vh, 58px);
    }
}

@keyframes particle-animation-12 {
    100% {
        transform: translate3d(35vw, 64vh, 58px);
    }
}

.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.86;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(85vw, 10vh, 82px);
    background: #5926d9;
}

@-webkit-keyframes particle-animation-13 {
    100% {
        transform: translate3d(75vw, 20vh, 30px);
    }
}

@keyframes particle-animation-13 {
    100% {
        transform: translate3d(75vw, 20vh, 30px);
    }
}

.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.61;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(35vw, 26vh, 99px);
    background: #26d959;
}

@-webkit-keyframes particle-animation-14 {
    100% {
        transform: translate3d(39vw, 90vh, 98px);
    }
}

@keyframes particle-animation-14 {
    100% {
        transform: translate3d(39vw, 90vh, 98px);
    }
}

.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(82vw, 31vh, 65px);
    background: #d97426;
}

@-webkit-keyframes particle-animation-15 {
    100% {
        transform: translate3d(28vw, 43vh, 59px);
    }
}

@keyframes particle-animation-15 {
    100% {
        transform: translate3d(28vw, 43vh, 59px);
    }
}

.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.17;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(43vw, 47vh, 44px);
    background: #2691d9;
}

@-webkit-keyframes particle-animation-16 {
    100% {
        transform: translate3d(66vw, 31vh, 38px);
    }
}

@keyframes particle-animation-16 {
    100% {
        transform: translate3d(66vw, 31vh, 38px);
    }
}

.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.1;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(10vw, 66vh, 88px);
    background: #d9262f;
}

@-webkit-keyframes particle-animation-17 {
    100% {
        transform: translate3d(65vw, 88vh, 17px);
    }
}

@keyframes particle-animation-17 {
    100% {
        transform: translate3d(65vw, 88vh, 17px);
    }
}

.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.72;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(46vw, 9vh, 80px);
    background: #269ad9;
}

@-webkit-keyframes particle-animation-18 {
    100% {
        transform: translate3d(9vw, 71vh, 80px);
    }
}

@keyframes particle-animation-18 {
    100% {
        transform: translate3d(9vw, 71vh, 80px);
    }
}

.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.08;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(53vw, 3vh, 97px);
    background: #26d959;
}

@-webkit-keyframes particle-animation-19 {
    100% {
        transform: translate3d(40vw, 42vh, 58px);
    }
}

@keyframes particle-animation-19 {
    100% {
        transform: translate3d(40vw, 42vh, 58px);
    }
}

.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.24;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(10vw, 35vh, 70px);
    background: #d9269a;
}

@-webkit-keyframes particle-animation-20 {
    100% {
        transform: translate3d(85vw, 86vh, 7px);
    }
}

@keyframes particle-animation-20 {
    100% {
        transform: translate3d(85vw, 86vh, 7px);
    }
}

.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.39;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(7vw, 64vh, 56px);
    background: #26d994;
}

@-webkit-keyframes particle-animation-21 {
    100% {
        transform: translate3d(79vw, 59vh, 58px);
    }
}

@keyframes particle-animation-21 {
    100% {
        transform: translate3d(79vw, 59vh, 58px);
    }
}

.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.2;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(47vw, 43vh, 57px);
    background: #a6d926;
}

@-webkit-keyframes particle-animation-22 {
    100% {
        transform: translate3d(29vw, 6vh, 85px);
    }
}

@keyframes particle-animation-22 {
    100% {
        transform: translate3d(29vw, 6vh, 85px);
    }
}

.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.55;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(75vw, 29vh, 58px);
    background: #26d9d0;
}

@-webkit-keyframes particle-animation-23 {
    100% {
        transform: translate3d(7vw, 13vh, 41px);
    }
}

@keyframes particle-animation-23 {
    100% {
        transform: translate3d(7vw, 13vh, 41px);
    }
}

.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.16;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(32vw, 3vh, 100px);
    background: #d97426;
}

@-webkit-keyframes particle-animation-24 {
    100% {
        transform: translate3d(74vw, 41vh, 11px);
    }
}

@keyframes particle-animation-24 {
    100% {
        transform: translate3d(74vw, 41vh, 11px);
    }
}

.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.55;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(83vw, 44vh, 41px);
    background: #71d926;
}

@-webkit-keyframes particle-animation-25 {
    100% {
        transform: translate3d(11vw, 17vh, 18px);
    }
}

@keyframes particle-animation-25 {
    100% {
        transform: translate3d(11vw, 17vh, 18px);
    }
}

.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.37;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(6vw, 6vh, 90px);
    background: #26d9d3;
}

@-webkit-keyframes particle-animation-26 {
    100% {
        transform: translate3d(31vw, 20vh, 44px);
    }
}

@keyframes particle-animation-26 {
    100% {
        transform: translate3d(31vw, 20vh, 44px);
    }
}

.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.66;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(10vw, 88vh, 70px);
    background: #d9c726;
}

@-webkit-keyframes particle-animation-27 {
    100% {
        transform: translate3d(7vw, 44vh, 83px);
    }
}

@keyframes particle-animation-27 {
    100% {
        transform: translate3d(7vw, 44vh, 83px);
    }
}

.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.96;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(38vw, 29vh, 41px);
    background: #26d9d9;
}

@-webkit-keyframes particle-animation-28 {
    100% {
        transform: translate3d(81vw, 45vh, 77px);
    }
}

@keyframes particle-animation-28 {
    100% {
        transform: translate3d(81vw, 45vh, 77px);
    }
}

.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.17;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(13vw, 67vh, 75px);
    background: #263ed9;
}

@-webkit-keyframes particle-animation-29 {
    100% {
        transform: translate3d(51vw, 85vh, 63px);
    }
}

@keyframes particle-animation-29 {
    100% {
        transform: translate3d(51vw, 85vh, 63px);
    }
}

.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.39;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(39vw, 33vh, 45px);
    background: #8826d9;
}

@-webkit-keyframes particle-animation-30 {
    100% {
        transform: translate3d(73vw, 35vh, 31px);
    }
}

@keyframes particle-animation-30 {
    100% {
        transform: translate3d(73vw, 35vh, 31px);
    }
}

.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: 0.6;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(5vw, 35vh, 93px);
    background: #26d9bb;
}